@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@700&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Prompt:wght@300&display=swap");

* {
  margin: 0;
  padding: 0;
}

html,
body {
  min-height: 100vh;
}

body {
  background-color: rgb(233, 255, 255);
  text-align: center;
  display: flex;
  place-content: center;

}

.container{
  max-width: 700px;
  height: 400px;
  margin: auto;
  padding: 2em;
}

h1 {
  font-family: 'Nunito', sans-serif;
  font-size: 48px;
  margin-bottom: 10px;
}

.text {
  font-family: "Prompt", sans-serif;
}

.main {
  margin-top: 3em;
}

input[type="text"] {
  background-color: transparent;
  border: none;
  border-bottom: 1px black solid;
  margin: 0 1em;
  outline: none;
  height: 1.8em;
}

button {
  padding: 1px 4px;
  font-family: "Prompt", sans-serif;
  color: white;
  background-color: rgb(0, 0, 0);
  box-shadow: 3px grey;
  cursor: pointer;
}

button:hover {
  background-color: rgba(0, 0, 0, 0.596);
}

.icon{
  width: 200px;
  margin-top: 3em;
}


/* response */
.query{
  font-size: 32px;
}

li {
  margin-bottom: 1em;
  text-align: left;
}

.weatherIcon{
  display: block;
  width: 80px;
  margin-top: -1em;
  float: right;
}
